* {
    margin: 0;
    padding: 0;
  }
  body,
  html {
    text-align: center;
    height: 100%;
    overflow: hidden;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #000;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    color: #fff;
    font-size: 18px;
    display: block;
    text-decoration: none;
    padding: 15px;
    font-family: poppins;
  }
  section{
    height:100%;
    width:100%;
    display:table;
    pointer-events:none;
    z-index:0;
    transition: transform 0.45s cubic-bezier(0,0,0.21,1);
  }
  section h1{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:#fff;
    font-weight:100;
      font-size:90px;
    font-family:poppins;
  }
  #one{
    background:#493323;
  }
  #two{
    background:#91684a;
  }
  #three{
   background:#eaac7f;
  }
  #four{
    background:#99bbad;
  }
  #five{
    background:#383a56;
  }
  a[id="one"]:target ~ #one{
    transform:translate3d(0,0,0);
  }
  a[id="two"]:target ~ #two{
    transform:translate3d(0,-100%,0);
  }
  a[id="three"]:target ~ #three{
    transform:translate3d(0,-200%,0);
  }
  a[id="four"]:target ~ #four{
    transform:translate3d(0,-300%,0);
  }
  a[id="five"]:target ~ #five{
    transform:translate3d(0,-400%,0);
  }